In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 7.8 MB/s eta 0:00:011
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 7.6 MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: '/home/ron/SECONDARY_SSD/python vscode/pt_venv/bin/python3' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-ud005dz8/pyspark/setup.py'"'"'; __file__='"'"'/tmp/pip-install-ud005dz8/pyspark/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d /tmp/pip-wheel-srx6hkgf
       cwd: /tmp/pip-install-ud005dz8/pyspark/
  Complete output (6 lines):
  usage: setup.py [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
     or: setup.py --help [cmd1 cmd2 ...]
     or: setup.py --help-commands
     or: setup.py cmd --help

  error: invalid command 'bdist_wheel'
  ----------------------------------------
  ERROR: Failed building wheel for pyspark
  Running setup.py clean for pyspark
Failed to build pyspark
Installing collected packages: py4j, pyspark
    Running setup.py install for pyspark ... done
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('practise').getOrCreate()

22/12/21 15:38:52 WARN Utils: Your hostname, ron-linux resolves to a loopback address: 127.0.1.1; using 10.10.27.169 instead (on interface wlp4s0)
22/12/21 15:38:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/21 15:38:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
df_spark = spark.read.csv('./Student_Marks.csv')
df_spark = spark.read.format('csv').option('header','true').load('./Student_Marks.csv')

In [5]:
df_spark.printSchema()

root
 |-- number_courses: string (nullable = true)
 |-- time_study: string (nullable = true)
 |-- Marks: string (nullable = true)

In [6]:
df_spark.show(5)

+--------------+----------+------+
|number_courses|time_study| Marks|
+--------------+----------+------+
|             3|     4.508|19.202|
|             4|     0.096| 7.734|
|             4|     3.133|13.811|
|             6|     7.909|53.018|
|             8|     7.811|55.299|
+--------------+----------+------+
only showing top 5 rows

In [12]:
df_spark.filter(df_spark.number_courses ==8).show()

+--------------+----------+------+
|number_courses|time_study| Marks|
+--------------+----------+------+
|             8|     7.811|55.299|
|             8|     6.080|38.490|
|             8|     3.977|25.133|
|             8|     4.378|26.532|
|             8|     3.864|24.172|
|             8|     0.932|15.038|
|             8|     7.591|53.158|
|             8|     7.641|53.359|
|             8|     7.468|51.343|
|             8|     5.985|38.278|
|             8|     2.262|17.705|
|             8|     1.982|16.461|
|             8|     6.201|39.957|
|             8|     2.730|19.564|
|             8|     6.471|42.426|
|             8|     3.919|24.451|
+--------------+----------+------+

In [11]:
df_spark.filter(df_spark.number_courses ==8).count()

16

In [27]:
df_spark.filter(df_spark.race.like('W%')).filter((df_spark.age==60) | (df_spark.age==31)).show()

+---+----+-----+------------+------+---+---+-----+--------+-----------------+---------+
|obs|year|month|      intent|police|sex|age| race|hispanic|            place|education|
+---+----+-----+------------+------+---+---+-----+--------+-----------------+---------+
|  3|2012|    1|     Suicide|     0|  M| 60|White|     100|  Other specified|        4|
|  5|2012|    2|     Suicide|     0|  M| 31|White|     100|  Other specified|        2|
| 69|2012|    8|     Suicide|     0|  M| 60|White|     100|  Other specified|        4|
|131|2012|   12|  Accidental|     0|  F| 31|White|     100|  Other specified|        3|
|134|2012|   12|Undetermined|     0|  F| 31|White|     100|             Home|        3|
|139|2012|    1|     Suicide|     0|  M| 60|White|     100|Other unspecified|        1|
|174|2012|    1|     Suicide|     0|  M| 60|White|     100|Other unspecified|        2|
|204|2012|    2|     Suicide|     0|  M| 60|White|     100|Other unspecified|        3|
|428|2012|    5|     Suicide|     0|  M| 60|White|     100|             Home|        3|
|430|2012|    5|     Suicide|     0|  M| 60|White|     100|             Home|        2|
|457|2012|    5|    Homicide|     0|  M| 31|White|     100|           Street|        2|
|467|2012|    6|     Suicide|     0|  M| 60|White|     100|             Home|        3|
|577|2012|    7|     Suicide|     0|  F| 31|White|     100|Other unspecified|        1|
|583|2012|    8|    Homicide|     0|  F| 31|White|     100|  Other specified|        1|
|588|2012|    8|     Suicide|     0|  F| 31|White|     100|  Other specified|        3|
|627|2012|    8|     Suicide|     0|  M| 60|White|     100|             Home|        1|
|649|2012|    9|     Suicide|     0|  M| 60|White|     100|Other unspecified|        3|
|738|2012|   10|     Suicide|     0|  M| 60|White|     100|             Home|        4|
|814|2012|   10|     Suicide|     0|  M| 60|White|     100|Other unspecified|        3|
|874|2012|   12|    Homicide|     0|  M| 60|White|     100|  Other specified|        3|
+---+----+-----+------------+------+---+---+-----+--------+-----------------+---------+
only showing top 20 rows

In [29]:
df_spark.groupBy('month').count().show()

+-----+-----+
|month|count|
+-----+-----+
|    7| 8989|
|   11| 8243|
|    3| 8289|
|    8| 8783|
|    5| 8669|
|    6| 8677|
|    9| 8508|
|    1| 8273|
|   10| 8406|
|    4| 8455|
|   12| 8413|
|    2| 7093|
+-----+-----+

In [31]:
df_spark.orderBy('month').show(10)

+-----+----+-----+--------+------+---+---+--------------------+--------+---------------+---------+
|  obs|year|month|  intent|police|sex|age|                race|hispanic|          place|education|
+-----+----+-----+--------+------+---+---+--------------------+--------+---------------+---------+
|83070|2014|    1|Homicide|     0|  M| 37|               Black|     100|           Home|        2|
|83186|2014|    1| Suicide|     0|  M| 77|               White|     100|           Home|        2|
|83177|2014|    1| Suicide|     0|  M| 33|               White|     100|           Home|        2|
|82950|2014|    1| Suicide|     0|  M| 23|               White|     100|Other specified|        3|
|83178|2014|    1| Suicide|     0|  M| 78|               White|     100|           Home|        1|
|83182|2014|    1| Suicide|     0|  M| 48|               White|     100|Other specified|        4|
|83185|2014|    1|Homicide|     0|  F| 31|               White|     100|           Home|        3|
|83183|2014|    1| Suicide|     0|  M| 46|               White|     100|           Home|        2|
|83179|2014|    1| Suicide|     0|  M| 38|tive American/tiv...|     100|           Home|        1|
|83184|2014|    1| Suicide|     0|  M| 53|               White|     100|           Home|        2|
+-----+----+-----+--------+------+---+---+--------------------+--------+---------------+---------+
only showing top 10 rows

In [32]:
subset = df_spark.filter((df_spark.age > 20 ) & (df_spark.age < 50))
subset.show()

+---+----+-----+------------+------+---+---+--------------------+--------+---------------+---------+
|obs|year|month|      intent|police|sex|age|                race|hispanic|          place|education|
+---+----+-----+------------+------+---+---+--------------------+--------+---------------+---------+
|  1|2012|    1|     Suicide|     0|  M| 34|Asian/Pacific Isl...|     100|           Home|        4|
|  2|2012|    1|     Suicide|     0|  F| 21|               White|     100|         Street|        3|
|  5|2012|    2|     Suicide|     0|  M| 31|               White|     100|Other specified|        2|
|  7|2012|    2|Undetermined|     0|  M| 48|               White|     100|           Home|        2|
|  8|2012|    3|     Suicide|     0|  M| 41|tive American/tiv...|     100|           Home|        2|
| 11|2012|    2|     Suicide|     0|  M| 30|               White|     100|           Home|        3|
| 12|2012|    1|     Suicide|     0|  M| 21|tive American/tiv...|     100|           Home|        2|
| 13|2012|    3|     Suicide|     0|  M| 43|               White|     100|           Home|        1|
| 14|2012|    3|     Suicide|     0|  M| 34|tive American/tiv...|     100|           Home|        2|
| 15|2012|    3|    Homicide|     0|  M| 27|               White|     100|           Home|        2|
| 16|2012|    3|     Suicide|     0|  M| 27|tive American/tiv...|     100|           Home|        2|
| 19|2012|    3|    Homicide|     0|  M| 31|Asian/Pacific Isl...|     100|           Home|        3|
| 23|2012|    4|    Homicide|     0|  F| 47|               Black|     100|           Home|        2|
| 26|2012|    4|    Homicide|     0|  M| 41|               White|     100|Other specified|        2|
| 27|2012|    4|     Suicide|     0|  M| 22|tive American/tiv...|     100|Other specified|        2|
| 28|2012|    4|     Suicide|     0|  M| 21|               White|     100|Other specified|        2|
| 30|2012|    4|    Homicide|     0|  M| 43|               White|     100|Other specified|        2|
| 31|2012|    4|     Suicide|     0|  M| 38|tive American/tiv...|     100|           Home|        2|
| 33|2012|    4|     Suicide|     0|  M| 22|tive American/tiv...|     100|           Home|        5|
| 34|2012|    5|     Suicide|     0|  M| 27|               White|     100|           Home|        2|
+---+----+-----+------------+------+---+---+--------------------+--------+---------------+---------+
only showing top 20 rows

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('/home/ron/Downloads/assignment_3.csv')

In [9]:
df = df.sample(frac=1).reset_index(drop=True)

In [11]:
df.head(50).to_csv('/home/ron/assignment_3-Bishwajit.csv')